<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/index.css">

</head>

<body>
    <div class="img-shadow" id="imgShadow"></div>
    <div class="container">
        <div class="img-container">
            <ul class="img-list">
                <li class="img-item">
                    <div class="img-content">
                        <div class="img-box">
                            <img src="../assets/img/img1.jpg" imgsource="../assets/img/float1.png" alt="" class="img" draggable=false>
                        </div>
                        <label class="img-info">
                            img1.jpg
                        </label>
                        <label class="img-info">
                            2022.9.16
                        </label>
                        <label class="img-info">
                            00:00:00
                        </label>
                    </div>
                    
                </li>
                <li class="img-item">
                    <div class="img-content">
                    <div class="img-box">
                        <img src="../assets/img/img2.jpg"  imgsource="../assets/img/float2.png" alt="" class="img" draggable=false>
                    </div>
                    <label class="img-info">
                        img1egfaertgsertgsertawdfafazergfaerfZSEfzsefzsefzssertsertsrt.jpg
                    </label>
                    <label class="img-info">
                        2022.9.16
                    </label>
                    <label class="img-info">
                        00:00:00
                    </label>
                </div>
                </li>
                <li class="img-item">
                    <div class="img-content">
                    <div class="img-box">
                        <img src="../assets/img/img3.jpg"  imgsource="../assets/img/float1.png" alt="" class="img" draggable=false>
                    </div>
                    <label class="img-info">
                        img1egfaertgsertgsertawdfafazergfaerfZSEfzsefzsefzssertsertsrt.jpg
                    </label>
                    <label class="img-info">
                        2022.9.16
                    </label>
                    <label class="img-info">
                        00:00:00
                    </label>
                </div>
                </li>
                <li class="img-item">
                    <div class="img-content">
                    <div class="img-box">
                        <img src="../assets/img/img4.jpg"  imgsource="../assets/img/float2.png" alt="" class="img" draggable=false>
                    </div>
                    <label class="img-info">
                        img1egfaertgsertgsertawdfafazergfaerfZSEfzsefzsefzssertsertsrt.jpg
                    </label>
                    <label class="img-info">
                        2022.9.16
                    </label>
                    <label class="img-info">
                        00:00:00
                    </label>
                </div>
                </li>
                <li class="img-item">
                    <div class="img-content">
                    <div class="img-box">
                        <img src="../assets/img/img5.jpg"  imgsource="../assets/img/float1.png" alt="" class="img" draggable=false>
                    </div>
                    <label class="img-info">
                        img1egfaertgsertgsertawdfafazergfaerfZSEfzsefzsefzssertsertsrt.jpg
                    </label>
                    <label class="img-info">
                        2022.9.16
                    </label>
                    <label class="img-info">
                        00:00:00
                    </label>
                </div>
                </li>
                <li class="img-item">
                    <div class="img-content">
                    <div class="img-box">
                        <img src="../assets/img/dragon.jpg"  imgsource="../assets/img/float2.png" alt="" class="img" draggable=false>
                    </div>
                    <label class="img-info">
                        img1egfaertgsertgsertawdfafazergfaerfZSEfzsefzsefzssertsertsrt.jpg
                    </label>
                    <label class="img-info">
                        2022.9.16
                    </label>
                    <label class="img-info">
                        00:00:00
                    </label>
                </div>
                </li>
            </ul>
        </div>
    
    <div class="track-container" id="trackBox">
        <div class="track-tool"></div>
        <div class="time-track" id="timeTrack">
        </div>
        <div class="img-track" id="imgTrack">
        </div>
        <div class="vernier" id="vernier">
            剪切
            <br/>
            00:00:00
        </div>
    </div>
</div>

    <!-- jquery -->
    <script src="../modules/jquery-3.6.1.min.js"></script>
    <script>
        let imgList=document.querySelectorAll('.img');

        let imgShadowBox=document.getElementById('imgShadow');
        let imgShadow;

        let imgTrack=document.getElementById('imgTrack');
        let timeTracker=document.getElementById('timeTrack');
        let trackBox=document.getElementById('trackBox');
        let vernier=document.getElementById('vernier');
        let onChecked=false;
        let isEnter=false;

        
        let trackTop=trackBox.offsetTop;
        let trackHeight=trackBox.offsetHeight;

        for(let i=0;i<imgList.length;i++){
            
            imgList[i].addEventListener('mousedown',reasloveStart);
            
        }


        let trackList=[];
        let imgTarget=null;
        let floatTarget=null;
        
        let currentLeft=0;
        let currentRight=0;
        setScale();

        function resolveOver(ev){
            if(onChecked){
                
                if(!isEnter){
                    isEnter=true;
                    setPlace(ev);
                }else if(ev.clientX<currentLeft||ev.clientX>currentRight){
                    imgTarget.remove();
                    setPlace(ev);
                }else if(currentRight===Number.POSITIVE_INFINITY){
                    imgTarget.style.left=`${ev.clientX}px`;
                }
            }
        }

        function setPlace(ev){
            let width=0;
            let moveFlag=false;
            for(let i=0;i<trackList.length;i++){
                    width+=trackList[i];
                    // console.log(width,ev.offsetX);
                    
                        if(ev.clientX<width){
                            if(!moveFlag){
                                if(i==0){
                                    currentLeft=0;
                                }
                                currentLeft=width-trackList[i];
                                currentRight=width;
                                
                                imgTrack.children[i].before(imgTarget);
                                imgTarget.style.left=`${currentLeft}px`;
                                moveFlag=true;
                            }
                            if(moveFlag){
                                imgTrack.children[i+1].style.left=`${width+imgTarget.offsetWidth-trackList[i]}px`;
                            }
                        }else{
                            
                            imgTrack.children[i].style.left=`${width-trackList[i]}px`;
                        }
                    }
                    if(!moveFlag){
                        imgTrack.append(imgTarget);
                        currentLeft=width;
                        currentRight=Number.POSITIVE_INFINITY;
                        imgTarget.style.left=`${ev.clientX}px`;
                    }
        }

        function resolveup(){
            if(isEnter){
                resolveDrop()
            }else{
                
                imgTarget=null;
            }
            floatTarget.remove();
            floatTarget=null;
            // imgTarget=null;
            onChecked=false;
            isEnter=false;
            currentIndex=-1;
        }

        function resolveLeave(ev){
            if(isEnter&&onChecked){
                
                imgTarget.remove();
                isEnter=false;
                floatTarget.style.opacity=1;
                resolveRemove();
            }
            currentIndex=-1;
        }

        function getImageSize(url){
            if(imgShadow){
                imgShadow.remove();
                imgShadow=null;
            }
            imgShadow = new Image();
            imgShadow.src = url;
            imgShadowBox.appendChild(imgShadow);
            imgShadow.onload = function () {
                
                let width=imgShadow.offsetWidth;
                imgTarget.style.width=`${width}px`;
                imgTarget.style.backgroundSize=`${width}px`;
                floatTarget.style.width=`${width}px`;
            };
        }

        //鼠标按下
        function reasloveStart(ev){
            if(!imgTarget||!floatTarget){
                onChecked=true;
                if(imgTarget){
                    imgTarget.classList.remove('img-check');
                }
                if(ev.target.tagName==="IMG"){
                    let url=ev.target.getAttribute('imgsource');//获取实际移动的图片名称;
                    getImageSize(url);
                    imgTarget=document.createElement('div');
                    imgTarget.classList.add('img-clone');
                    imgTarget.style.backgroundImage="url('"+url+"')";
                }else{
                    imgTarget=ev.target.cloneNode();
                }
                

                floatTarget=imgTarget.cloneNode();
                document.querySelector('body').appendChild(floatTarget);
                
                imgTarget.draggable=false;
                imgTarget.classList.add('img-target');
                imgTarget.addEventListener('mousedown',reasloveChange);
                
                floatTarget.classList.add('img-float');
                floatTarget.style.left=`${ev.clientX}px`;
                floatTarget.style.top=`${ev.clientY}px`;
                floatTarget.addEventListener('mousemove',resloveFllow);
                floatTarget.addEventListener('mouseup',resolveup);
                floatTarget.addEventListener('mouseout',resolveup);
            }
        }
        function resolveDrop(ev){
            
            trackList=[];
            let width=0;
            // imgTrack.children.sort((node1,node2)=>{return node1.style.order-node2.style.order})
            
            imgTarget.classList.add('img-check');

            for(let i=0;i<imgTrack.children.length;i++){
                
                trackList.push(imgTrack.children[i].offsetWidth);
                imgTrack.children[i].style.left=`${width}px`;
                imgTrack.children[i].classList.add('img-completed');
                width+=imgTrack.children[i].offsetWidth;
            }
            setScale()
        }

        function resolveRemove(){
            trackList=[];
            let width=0;
            // imgTrack.children.sort((node1,node2)=>{return node1.style.order-node2.style.order})
            for(let i=0;i<imgTrack.children.length;i++){
             
                trackList.push(imgTrack.children[i].offsetWidth);
                imgTrack.children[i].style.left=`${width}px`;
                width+=imgTrack.children[i].offsetWidth;
            }
        }

        function reasloveChange(ev){
            
            if(imgTarget!==ev.target){
                if(imgTarget){
                    imgTarget.classList.remove('img-check');
                }
                imgTarget=ev.target;
                imgTarget.classList.add('img-check');
            }else{
                isEnter=false;
                imgTarget.classList.remove('img-completed');
                imgTarget.classList.remove('img-check');
                imgTarget.remove();
                resolveRemove();
                reasloveStart(ev);
            }
            
        }

        function resloveFllow(ev){
            if(floatTarget){
                floatTarget.style.left=`${ev.clientX}px`;
                floatTarget.style.top=`${ev.clientY}px`;
            }
            if(ev.clientY>trackTop&&ev.clientY<trackTop+trackHeight){
                resolveOver(ev);
                floatTarget.style.opacity=0;
            }else{
                resolveLeave();
            }
        }

        function setScale(){
            let containerWidth=trackBox.scrollWidth;
            let scaleHtmlStr='';
            for(let i=0;containerWidth>0;containerWidth-=200,i++){
                scaleHtmlStr+=`<span>${padStart(Math.floor(i/60).toString())}:${padStart(Math.floor(i%60).toString())}:00</span>`;
            }
            timeTracker.innerHTML=scaleHtmlStr;
        }

        timeTracker.addEventListener('click',resolveMoveVernier)
        function resolveMoveVernier(ev){
            if(imgTarget&&ev.layerX>imgTarget.offsetLeft&&ev.layerX<imgTarget.offsetLeft+imgTarget.offsetWidth){
                vernier.style.left=`${ev.layerX}px`;
                let h=Math.floor(vernier.offsetLeft/1200);
                let m=Math.floor((vernier.offsetLeft-h*1200)/200);
                let s=Math.floor(vernier.offsetLeft%200*0.3.toFixed(2));
                vernier.innerHTML=`剪切<br/>${padStart(h.toString())}:${padStart(m.toString())}:${padStart(s.toString())}`;
            }
        }

        vernier.addEventListener('click',resolveShear)

        function resolveShear(ev){
            if(imgTarget&&vernier.offsetLeft-imgTarget.offsetLeft>0){
                
                let widthLeft=vernier.offsetLeft-imgTarget.offsetLeft+3;
                let widthRight=imgTarget.offsetLeft+imgTarget.offsetWidth-vernier.offsetLeft+3;

                let targetClone=imgTarget.cloneNode();

                imgTarget.style.width=`${widthLeft}px`;

                let position=0-Number(targetClone.style.backgroundPosition.split('px')[0])||0;
                targetClone.style.backgroundPosition=`-${position+widthLeft-6}px 0`;
                targetClone.style.width=`${widthRight}px`;
             
                targetClone.style.left=`${imgTarget.offsetLeft+widthLeft}px`;
                targetClone.classList.remove('img-check');
                targetClone.addEventListener('mousedown',reasloveChange);
                imgTarget.after(targetClone);
                resolveRemove();
                vernier.style.left=`0px`;
                vernier.innerHTML=" 剪切<br/>00:00:00";
            }
        }

        function padStart(str){
            return ('00' + str).substr(-2)
        }
    </script>
</body>

</html>